html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  font-family: "Montserrat", sans-serif;
  color: #333;
  letter-spacing: 1.5px;
}

/* nav styles */
#nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  top: 0;
  position: sticky;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin-right: 10%;
}

#nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: small;
  font-weight: 500;
}

.logo-text li a,
#nav a.active {
  font-weight: 600 !important;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-right: 15%;
}

/* hero  styles */
.hero {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7%;
  padding-bottom: 5%;
}

.hero h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3.5vw;
  margin-bottom: 7%;
}

.hero h2 {
  font-weight: 100;
  font-size: 3vw;
  float: left;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 42%;
}

.hero-container {
  /* display: flex; */
  background-image: url(../assets/profile-img.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 98% 35%;
  padding: 40%;
  /* border: 1px dotted black; */
}

/* .profile-img {
  width: 50%;
} */

/* info paragraphs styles */
.info-paragraphs {
  background-color: #e2ebff;
  padding: 5%;
}

.info-paragraphs p {
  margin-left: 20%;
  margin-right: 20%;
  font-size: medium;
}

/* footer */
footer h3 {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
  font-size: 2.1vw;
  font-weight: 100;
}

.social-icons {
  text-align: center;
}

.social-icons img {
  width: 3vw;
}

.mail {
  width: 3.5vw !important;
  vertical-align: bottom;
}

.social-icons img:hover {
  cursor: pointer;
}

.social-icons a {
  text-decoration: none;
  margin-right: -0.5%;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -120px;
  font-family: "Montserrat", sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

button {
  margin-right: 2%;
  background-color: #e2ebff;
  border: none;
  padding: 1% 2%;
  border-radius: 0.2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  font-size: small;
}

button:hover {
  cursor: pointer;
}

.linkedin,
.dribbble {
  margin-right: 2%;
}

.copyright {
  text-align: center;
  margin: 5%;
  font-size: small;
}
