html,
body {
  max-width: 100% !important;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  /* font-family: 'Metropolis'; */
  font-family: "Avenir";
  color: #333;
  letter-spacing: 1px;
}

header,
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/* nav styles */
header {
  top: 0;
  position: sticky;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
}

.logo-text {
  list-style: none;
}

#nav ul {
  list-style: none;
  padding: 0;
  /* margin-right: 10%; */
  margin-right: 7%;
}

.logo-text li a,
#nav a,
.mobile-nav-items a li {
  text-decoration: none;
  color: #333;
  font-size: small;
  font-weight: 500;
}

.logo-text li a,
#nav a.active,
.mobile-nav-items a.active li {
  font-weight: 600 !important;
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  margin-right: 15%;
}

/* mobile nav */
.hamburger {
  display: none;
  margin-top: -4.5%;
  float: right;
  padding-right: 20%;
}

.hamburger-img {
  width: 3vw;
}

.hamburger:hover {
  cursor: pointer;
}

.nav-menu-mobile {
  display: none;
}

.mobile-nav-items {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.mobile-nav-items a li {
  padding-bottom: 2%;
  padding-top: 2%;
}

.mobile-nav-items a li:hover {
  background-color: #e2ebff;
}

.mobile-nav-items a {
  text-decoration: none;
  color: #333;
}

.show {
  display: block;
  background-color: white;
}

/* hero styles */
.hero-text-container {
  padding-left: 20%;
  padding-right: 20%;
}

.name-highlight {
  background-color: #e2ebff;
}

.hero-text-container h1 {
  margin-top: 10%;
  font-size: 5.5vw;
}

.hero-text-container h2 {
  font-weight: 500;
  font-size: 3.5vw;
  margin-top: 7%;
}

.hero-text-container p {
  margin-top: 7%;
  margin-bottom: 10%;
  font-size: larger;
  color: black;
}

/* card styles */

.card {
  margin-bottom: 7%;
  box-shadow: 3px 3px 5px 3px #f3f3f3;
  border-radius: 2%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* altn */
.card-4 {
  background-image: url(../assets/altn-logo.jpg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 98% 35%;
}

/* thrive */
.card-6 {
  background-color: #e2ebff;
  text-align: center;
  padding: 5%;
  width: 50%;
}

.card > a {
  text-decoration: none;
  color: #333;
}

.card-img-container {
  display: flex;
  align-items: center;
}

.card-img-container-1 {
  background-color: #00d9f1;
  border-radius: 2% 2% 0 0;
}

.card-img-container-2 {
  background-color: #f4f2ee;
  background-image: url("../assets/museum-guide-mockup.png");
  background-size: 53%;
  background-repeat: no-repeat;
  background-position: 100% 45%;
  padding: 12%;
}

.card-subtitle {
  padding: 3%;
  font-size: large;
  text-align: center;
  box-shadow: 2px 2px #f3f3f3 inset;
  color: black;
}

.semi-bold {
  font-weight: 600;
  color: #333;
}

/* motivatask */
.motivitask-mockup {
  width: 43%;
  border-radius: 2% 0 0 0;
}

.motivitask-logo {
  width: 57%;
  border-radius: 0 2% 0 0;
}

/* musuem guide */
.museum-guide-logo {
  font-family: "Minion3Subhead-Medium";
  font-weight: 100;
  font-size: 2.5em;
  margin-left: -5%;
}

/* gather */

/* altn */
.altn-mockup {
  width: 43%;
  border-radius: 2% 0 0 0;
}

.altn-logo {
  display: none;
}

/* thrive */
.card-6 h1 {
  font-size: 2vw;
  font-weight: 600;
}

.card-6 h2 {
  font-size: 1.9vw;
  font-weight: 400;
  margin-top: 5%;
}

/* footer */
footer h3 {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
  font-size: 2.1vw;
  font-weight: 500;
}

.social-icons {
  text-align: center;
  margin-bottom: -2%;
}

.social-icons img {
  width: 3vw;
}

.mail {
  width: 3.5vw !important;
  vertical-align: bottom;
}

.social-icons img:hover {
  cursor: pointer;
}

.social-icons a {
  text-decoration: none;
  margin-right: -0.5%;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -120px;
  font-family: "Montserrat", sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

button {
  margin-right: 2%;
  background-color: #e2ebff;
  border: none;
  padding: 1% 2%;
  border-radius: 0.2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  vertical-align: text-bottom;
  font-size: small;
  box-shadow: 1px 1px #f3f3f3;
}

button:hover {
  cursor: pointer;
}

.linkedin,
.dribbble {
  margin-right: 2%;
  margin-bottom: -0.2%;
}

.copyright {
  text-align: center;
  margin: 5%;
  font-size: small;
  font-weight: 500;
}

/* media queries */
@media only screen and (max-width: 900px) {
  .tooltiptext {
    font-size: small;
  }
}

@media only screen and (max-width: 850px) {
  .card-subtitle-1,
  .card-subtitle-4 {
    font-size: medium;
  }
}

@media only screen and (max-width: 800px) {
  .logo-text li a,
  #nav a {
    font-size: 0.7em !important;
  }
  .nav-menu {
    margin-top: 4%;
  }
  .linkedin,
  .dribbble {
    margin-bottom: -0.7;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
    margin-top: -5%;
  }
  .nav-menu {
    display: none;
  }
  .nav .nav-menu-mobile li {
    margin-bottom: 5%;
    margin-right: 0;
    padding: 1%;
    border-bottom: 1px solid black;
  }
  .mobile-nav-items a li {
    font-size: smaller;
  }
  .hero-text-container h1 {
    font-size: xx-large;
  }
  .hero-text-container p {
    font-size: smaller;
  }
  .card-subtitle-1,
  .card-subtitle-4 {
    font-size: smaller;
  }
}

@media only screen and (max-width: 650px) {
  .hamburger {
    margin-top: -5%;
  }
  .card-6 h1,
  .card-6 h2 {
    font-size: 4vw;
  }
  .copyright {
    font-size: x-small;
  }
  .tooltiptext {
    font-size: x-small;
  }
}

@media only screen and (max-width: 550px) {
  #nav ul li a {
    font-size: x-small;
  }
  footer h3 {
    font-size: medium;
  }
  .social-icons {
    margin-top: 5%;
  }
  .copyright {
    font-size: x-small;
  }
  .mail {
    width: 5.5vw !important;
  }
  .social-icons img {
    width: 5vw;
  }
  .linkedin,
  .dribbble {
    margin-bottom: -0.2%;
    margin-right: 0;
  }
  .social-icons button,
  .tooltip,
  .social-icons a {
    margin-right: 9%;
  }
  button {
    margin-left: 9%;
  }
}

@media only screen and (max-width: 500px) {
  .mobile-nav-items a li {
    font-size: x-small;
  }
  .hamburger {
    margin-top: -6.5%;
  }
  .linkedin,
  .dribbble {
    margin-bottom: -0.7%;
  }
  .line-break {
    display: block;
  }
}

@media only screen and (max-width: 450px) {
  .hamburger {
    margin-top: -7%;
  }
  .mobile-nav-items {
    font-size: small;
  }
}

@media only screen and (max-width: 400px) {
  #nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  #nav ul li a {
    font-size: x-small;
  }
  .hamburger {
    margin-top: -8.5%;
    padding-right: 10%;
  }
  .hamburger-img {
    width: 4.5vw;
  }
  .hero-text-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* .hero-text-container h1 {
    font-size: x-large;
  } */
  .hero-text-container h2 {
    font-size: larger;
  }
  .hero-text-container h2 br {
    display: none;
  }
  .hero-text-container p {
    font-size: medium;
  }
  #work {
    margin-top: 10%;
  }
  .card {
    width: 90%;
  }
  .card-6 {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .motivitask-mockup {
    display: none;
  }
  .motivitask-logo {
    margin: 0 auto;
  }
  .card-4 {
    background-image: none;
    background-color: white;
  }
  .altn-mockup {
    display: none;
  }
  .altn-logo {
    display: block;
    width: 45%;
    margin: 0 auto;
    padding: 10%;
  }
  /* .card-subtitle-1,
  .card-subtitle-2 {
    font-size: x-small;
  }
  .card-3 h1,
  .card-3 h2 {
    font-size: small;
  } */
  footer {
    margin-top: 12%;
  }
  .tooltiptext {
    font-size: xx-small;
  }
  .mail {
    width: 8.5vw !important;
  }
  .social-icons img {
    width: 7vw;
  }
  .linkedin,
  .dribbble {
    margin-bottom: -1%;
    margin-right: 0;
  }
  .social-icons button,
  .tooltip,
  .social-icons a {
    margin-right: 9%;
  }
  .copyright {
    font-size: x-small;
  }
  button {
    font-size: small;
    padding: 2% 3%;
  }
}

@media only screen and (max-width: 350px) {
  .hamburger {
    margin-top: -9.5%;
  }
}

@media only screen and (max-width: 300px) {
  .hamburger {
    margin-top: -11.2%;
  }
  .linkedin,
  .dribbble {
    margin-bottom: -1.2%;
  }
}
